/* remove default setting */
* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
/* ethan-jessie-1 code */
.header-ethan {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.left-ethan {
  display: flex;
  align-items: center;
  color: #1b7092;
}
.left-ethan > p {
  padding-left: 5px;
  font-size: 30px;
}
.right-ethan {
  display: flex;
  align-items: center;
  color: gray;
}
.right-ethan > p {
  padding-right: 8px;
  font-size: 23px;
}
.createAccount {
  display: flex;
  height: 33px;
  width: 200px;
  background-color: #1b7092;
  border-radius: 100px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.body-ethan {
  display: flex;
  background-color: #a9d1e2;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign-in {
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-in > p {
  font-size: 40px;
  color: #1b7092;
  margin-top: 60px;
}
.ethan-img-center {
  display: flex;
  justify-content: center;
  background-color: #a9d1e2;
  margin-bottom: -37px;
  z-index: 2;
  border-radius: 50px;
}
.input-sign-in-ethan {
  background-color: #a9d1e2;
  height: 45px;
  width: 300px;
  margin: 0px 15px 15px 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.input-sign-in-label-ethan-email {
  height: 17px;
  width: 55px;
  margin-top: 35px;
  margin-right: 235px;
  background-color: #60a7c5;
  border-top-right-radius: 15px;
  color: aliceblue;
  padding: 5px;
}
.input-sign-in-label-ethan-pass {
  height: 17px;
  width: 85px;
  margin-top: 25px;
  margin-right: 205px;
  background-color: #60a7c5;
  border-top-right-radius: 15px;
  color: aliceblue;
  padding: 5px;
}
.sign-in > .input-sign-in-label-ethan-email {
  display: flex;
  justify-content: left;
}
.sign-in > .input-sign-in-label-ethan-pass {
  display: flex;
  justify-content: flex-start;
}

/* ethan-jessie-2 code */
.page-ethan {
  display: flex;
}
.nav-ethan {
  border: 1px solid #1b7092;
  width: 23%;
  height: 90vh;
  color: #1b7092;
  font-size: 28px;
}
.list-for-students {
  margin: 20px;
}
.schedule-ethan {
  display: flex;
  width: 77%;
  height: 90vh;
  background-color: #a9d1e2;
  flex-direction: column;
  align-items: center;
}
.schedule-title {
  color: white;
  font-size: 60px;
  margin: 20px;
}
.weekday {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 513px;
}
.monday {
  color: #1b7092;
  text-align: center;
  height: 450px;
  width: 150px;
}
.tuesday {
  color: #1b7092;
  text-align: center;
  height: 450px;
  width: 150px;
}
.friday {
  color: #1b7092;
  text-align: center;
  height: 450px;
  width: 150px;
}
.empty {
  background-color: #a9d1e2;
  width: 30px;
}
.block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-bottom: 2px solid #1b7092;
  margin-bottom: 10px;
  height: 120px;
}
.courses-topic {
  display: flex;
  background-color: #1b7092;
  color: white;
  height: 50px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
.courses > div {
  background-color: #f1f1f1;
  width: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.time {
  margin-bottom: 20px;
}
.courses {
  font-size: 24px;
}
.sign-out {
  display: flex;
  color: #1b7092;
  margin-top: 150px;
  margin-left: 20px;
}
/* ash-livia-1 code */
.grid-containerl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "itemm2 itemm1 itemm1 itemm1"
    "itemm2 itemm3 itemm3 itemm3"
    "itemm2 itemm3 itemm3 itemm3"
    "itemm2 itemm3 itemm3 itemm3";
}
.itemm1 {
  background-color: rgb(250, 219, 133);
  grid-area: itemm1;
  display: flex;
}
.itemm1 > div {
  width: 50%;
  display: flex;
}
.flexbox-containerf2 {
  flex-direction: row-reverse;
}
.color1 {
  background: #ead1dcff;
  height: 50px;
  width: 50px;
  margin: 20px;
}
.itemm2 {
  background-color: darkblue;
  color: white;
  grid-area: itemm2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemm2 div {
  margin: 10px;
  width: 60%;
}
.color2 {
  height: 50%;
  text-align: center;
}
.itemm3 {
  background-color: rgb(89, 119, 253);
  grid-area: itemm3;
  height: 100vh;
}
.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rows div {
  height: 50px;
  margin: 20px;
  background: #cfe2f3ff;
}
.color3-1 {
  width: 70%;
}
.color3-2 {
  width: 25%;
}
.color3-3 {
  width: 25%;
}

/* ping-yusun-1 */
.page{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100vw;
}
.context-ping {
  display: flex;
  width: 75vw;
  height: 100vh;
  background: white;
  flex-direction: column;
}
.navbar-ping {
  display: flex;
  width: 25vw;
  height: 100vh;
  background: #73e0ce;
  flex-direction: column;
}
.header-ping {
    height: 50px;
    width: 75vw;
    display: flex;
    margin: 20px;
    align-items: center;
}
.header-ping > p {
    margin-left: 20px;
}
.announcement-ping {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-top: 50px;
}
.announcement-ping > img {
    height: 35px;
    width: 60px;
}
.announcement-ping > p {
    margin-left: 20px;
}
.topic-ping {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 35px;
}
.topic-ping > img {
    height: 55px;
    width: 120px;
    margin: 20px;
}
.caption-ping {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.dots-ping {
    display: flex;
    justify-content: center;
    height: 10px;
    width: 75vw;
}
.orange-p {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #F58500;
    margin: 10px;
}
.blue-p {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #73E0CE;
    margin: 10px;
}
.box-for-list{
  display: flex;
  padding-top: 100px;
  font-size: 20px;
  justify-content: space-evenly;
}
.box-for-list-2{
  display: flex;
  margin: 30px;
  font-size: 20px;
  justify-content: space-evenly;
}
.box-for-list > a {
  margin-top: 10px;
  margin-right: 50px;
}
.box-for-list-2 > a {
  margin-top: 10px;
  margin-right: 50px;
}
.header-ping-baymax {
  padding-left: 250px;
  padding-top: 10px;
}
.event-ping{
  margin: 30px;
  margin-left: 25px;
}
.event-ping>p{
  margin-top: 10px;
  margin-left: 20px;
}
.calendar-ping {
  margin-left: 30px;
}
.calendar-ping > p{
  margin-left: 10px;
  margin-top: 5px;
  background-color: white;
  border: 2px solid black;
  width: 200px;
  height: 180px;
  border-radius: 10px;
}
.calendar-ping > a{
  background-color: #F4B30C;
  border-radius: 3px;
}
.calendar-ping .calendar{
  width: 170px;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
}
.title > a{
  background-color: #FF6F6F;
  border-radius: 3px;
}
.title {
  margin-left: 20px;
  margin-top: 20px;

}
.note-ping {
  margin-left: 40px;
  margin-top: 10px;
  background-color: white;
  border: 2px solid black;
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.note-ping > p {
  margin-left: 20px;
  margin-top: 30px;
}

