/* remove default setting */
* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
/* ethan-jessie-1 code */
.header-ethan {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.left-ethan {
  display: flex;
  align-items: center;
  color: #1b7092;
}
.left-ethan > p {
  padding-left: 5px;
  font-size: 30px;
}
.right-ethan {
  display: flex;
  align-items: center;
  color: gray;
}
.right-ethan > p {
  padding-right: 8px;
  font-size: 23px;
}
.createAccount {
  display: flex;
  height: 33px;
  width: 200px;
  background-color: #1b7092;
  border-radius: 100px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.body-ethan {
  display: flex;
  background-color: #a9d1e2;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign-in {
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-in > p {
  font-size: 40px;
  color: #1b7092;
  margin-top: 60px;
}
.ethan-img-center {
  display: flex;
  justify-content: center;
  background-color: #a9d1e2;
  margin-bottom: -37px;
  z-index: 2;
  border-radius: 50px;
}
.input-sign-in-ethan {
  background-color: #a9d1e2;
  height: 45px;
  width: 300px;
  margin: 0px 15px 15px 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.input-sign-in-label-ethan-email {
  height: 17px;
  width: 55px;
  margin-top: 35px;
  margin-right: 235px;
  background-color: #60a7c5;
  border-top-right-radius: 15px;
  color: aliceblue;
  padding: 5px;
}
.input-sign-in-label-ethan-pass {
  height: 17px;
  width: 85px;
  margin-top: 25px;
  margin-right: 205px;
  background-color: #60a7c5;
  border-top-right-radius: 15px;
  color: aliceblue;
  padding: 5px;
}
.sign-in > .input-sign-in-label-ethan-email {
  display: flex;
  justify-content: left;
}
.sign-in > .input-sign-in-label-ethan-pass {
  display: flex;
  justify-content: flex-start;
}

/* ethan-jessie-2 code */
.page-ethan {
  display: flex;
}
.nav-ethan {
  border: 1px solid #1b7092;
  width: 23%;
  height: 90vh;
  color: #1b7092;
  font-size: 28px;
}
.list-for-students {
  margin: 20px;
}
.schedule-ethan {
  display: flex;
  width: 77%;
  height: 90vh;
  background-color: #a9d1e2;
  flex-direction: column;
  align-items: center;
}
.schedule-title {
  color: white;
  font-size: 60px;
  margin: 20px;
}
.weekday {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 513px;
}
.monday {
  color: #1b7092;
  text-align: center;
  height: 450px;
  width: 150px;
}
.tuesday {
  color: #1b7092;
  text-align: center;
  height: 450px;
  width: 150px;
}
.friday {
  color: #1b7092;
  text-align: center;
  height: 450px;
  width: 150px;
}
.empty {
  background-color: #a9d1e2;
  width: 30px;
}
.block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-bottom: 2px solid #1b7092;
  margin-bottom: 10px;
  height: 120px;
}
.courses-topic {
  display: flex;
  background-color: #1b7092;
  color: white;
  height: 50px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
.courses > div {
  background-color: #f1f1f1;
  width: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.time {
  margin-bottom: 20px;
}
.courses {
  font-size: 24px;
}
.sign-out {
  display: flex;
  color: #1b7092;
  margin-top: 150px;
  margin-left: 20px;
}
/* ping-yusun-1 */
.page{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100vw;
}
.context-ping {
  display: flex;
  width: 75vw;
  height: 100vh;
  background: white;
  flex-direction: column;
}
.navbar-ping {
  display: flex;
  width: 25vw;
  height: 100vh;
  background: #73e0ce;
  flex-direction: column;
}
.header-ping {
    height: 50px;
    width: 75vw;
    display: flex;
    margin: 20px;
    align-items: center;
}
.header-ping > p {
    margin-left: 20px;
}
.announcement-ping {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-top: 50px;
}
.announcement-ping > img {
    height: 35px;
    width: 60px;
}
.announcement-ping > p {
    margin-left: 20px;
}
.topic-ping {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 35px;
}
.topic-ping > img {
    height: 55px;
    width: 120px;
    margin: 20px;
}
.caption-ping {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.dots-ping {
    display: flex;
    justify-content: center;
    height: 10px;
    width: 75vw;
}
.orange-p {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #F58500;
    margin: 10px;
}
.blue-p {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #73E0CE;
    margin: 10px;
}
.box-for-list{
  display: flex;
  padding-top: 100px;
  font-size: 20px;
  justify-content: space-evenly;
}
.box-for-list-2{
  display: flex;
  margin: 30px;
  font-size: 20px;
  justify-content: space-evenly;
}
.box-for-list > a {
  margin-top: 10px;
  margin-right: 50px;
}
.box-for-list-2 > a {
  margin-top: 10px;
  margin-right: 50px;
}
.header-ping-baymax {
  padding-left: 250px;
  padding-top: 10px;
}
.event-ping{
  margin: 30px;
  margin-left: 25px;
}
.event-ping>p{
  margin-top: 10px;
  margin-left: 20px;
}
.calendar-ping {
  margin-left: 30px;
}
.calendar-ping > p{
  margin-left: 10px;
  margin-top: 5px;
  background-color: white;
  border: 2px solid black;
  width: 200px;
  height: 180px;
  border-radius: 10px;
}
.calendar-ping > a{
  background-color: #F4B30C;
  border-radius: 3px;
}
.calendar-ping .calendar{
  width: 170px;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
}
.title > a{
  background-color: #FF6F6F;
  border-radius: 3px;
}
.title {
  margin-left: 20px;
  margin-top: 20px;

}
.note-ping {
  margin-left: 40px;
  margin-top: 10px;
  background-color: white;
  border: 2px solid black;
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.note-ping > p {
  margin-left: 20px;
  margin-top: 30px;
}

/* ping-yusun-4 */
.header-ping-yusun-4{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 10vh;
}
.three-lines-ping {
  margin-top: 8px;
}
.one-ping-4{
  height: 6px;
  width: 45px;
  border: 2px solid black;
  background-color: gainsboro;
  border-radius: 20px;
  margin: 8px;
}
.icon-ping-top {
  margin: 8px;
}
.whole-ping-4 {
  display: flex;
  flex-direction: row;
}
.left-ping-4{
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 90vh;
}
.left-ping-4 > a { 
  font-size: 35px;
  margin-left: 60px;
}
.left-ping-4 > p { 
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 60px;
}
.cap-ping {
  height: 20px;
  width: 180px;
  border: 3px solid black;
  border-radius: 25px;
  margin-left: 85px;
}
.bottle-ping {
  height: 300px;
  width: 230px;
  border: 3px solid black;
  border-radius: 25px;
  position: relative;
  text-align: center;
  margin-left: 60px;
}
.bottle-ping > img {
  margin-top: 40px;
}
/* Centered text for A+ 98*/
.centered-ping {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.water-ping{
  height: 272px;
  width: 229px;
  border: 1px solid #73E0CE;
  background-color: #73E0CE;
  border-radius: 24px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.slantednote-ping-4 {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  width: 55px;
  height: 20px;
  transform: rotateZ(90deg);
  margin-top: 100px;
  justify-content: space-evenly;
  margin-left: -20px;
}
.mid-ping-4{
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: 90vh;
}
.scores-ping{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.right-small-1{
  margin: 20px;
  height: 20px;
  width: 30px;
  border-radius: 20px;
  background-color: #F4B30C;
  font-size: 18px;
}
.right-small-2{
  margin: 20px;
  height: 20px;
  width: 30px;
  font-size: 18px;
  border-radius: 20px;
  background-color: #ffdc1d;
}
.right-small-3{
  margin: 20px;
  height: 20px;
  width: 30px;
  font-size: 18px;
  border-radius: 20px;
  background-color: #FF6F6F;
}
.classes-ping {
  margin-top: 80px;
}
.colortag-ping-bluish {
  background-color: #73e0ce;
  border-radius: 20px;
  height: 5px;
  width: 15px;
}
.colortag-ping-reddish {
  background-color: #FF6F6F;
  border-radius: 20px;
  height: 5px;
  width: 15px;
}
.classes-ping > .course-name{
  display: inline-block;
}
.classes-ping > .colortag-ping-bluish{
  display: inline-block;
}
.classes-ping > .colortag-ping-reddish{
  display: inline-block;
}
.course-name {
  margin-top: 27px;
}
.additional-text {
  color: grey;
}
.right-ping-4{
  display: flex;
  flex-direction: row;
  width: 25vw;
  height: 90vh;
}
.something-hehe{
  margin-top: 180px;
  margin-right: 5px;
}
.orangey-4{
  background-color: #F4B30C;
  border-radius: 20px;
  height: 10px;
  width: 20px;
  margin-top: 17px;
}
.yellowish-4 {
  background-color: #ffdc1d;
  border-radius: 20px;
  height: 10px;
  width: 20px;
  margin-top: 17px;
}
.pinkish-4{
  background-color: #FF6F6F;
  border-radius: 20px;
  height: 10px;
  width: 20px;
  margin-top: 17px;
}
.bluish-4{
  background-color: #73E0CE;
  border-radius: 20px;
  height: 10px;
  width: 20px;
  margin-top: 17px;
}
.reddish-4{
  background-color: red;
  border-radius: 20px;
  height: 10px;
  width: 20px;
  margin-top: 17px;
}
.legend-4{
  margin-top: 180px;
}
.addsomethings{
  margin-top: 10px;
}

/* ashley-livia-1 code */
.whole-ashlivia-1{
  display: flex;
  flex-wrap: wrap;
}
.navbar-ashlivia-1{
  height: 100vh;
  width: 20vw;
  background-color: #091868;
}
.lists-for-ashlivia-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-ashlivia-1{
  background-color: #ffc83b;
  height: 16vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
}
.header-ashlivia-1 > p{
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}
.header-ashlivia-1 > img {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
}
.gpa-ashlivia-1{
  margin-left: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
}
.body-ashlivia-1{
  background-color: #054cbf;
  height: 84vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
}
.assignments-ashlivia-1{
  color: white;
  margin-top: 60px;
  margin-left: 70px;
}
.assignments-ashlivia-1 > a {
  font-size: 30px;
}
.inside-ashlivia-1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 20px;
}
.items-ashlivia-1{
  margin-right: 75px;
}
.items-ashlivia-1 > p {
  margin-top: 15px;
}
.grades-ashlivia-1 > p {
  margin: 15px;
}
.seemore-ashlivia-1 {
  text-decoration: underline;
  margin-left: 220px;
}
.navbar-ashlivia-1 > img {
  margin-left: 23px;
  margin-top: 30px;
}  
.topics-ashlivia-1 {
  color: white;
  text-decoration: underline;
  align-content: center;
  margin: 36px;
}
.attendance-ashlivia-1{
  color: white;
  margin-top: 60px;
  margin-left: 70px;
}
.attendance-ashlivia-1 > a {
  font-size: 30px;
}
.average-ashlivia-1 {
  border: 3px solid #091868;
  border-radius: 20px;
  background-color: #091868;
  width: 300px;
  height: 240px;
  margin-top: 100px;
  margin-left: 30px;
}
.average-ashlivia-1 > a{
  font-size: 170px;
  color: white;
  margin-top: 90px;
  margin-left: 40px;
}
.message-teacher-ashlivia-1{
  display: flex;
  flex-direction: row;
  border: 1px solid #091868;
  background-color: #091868;
  border-radius: 20px;
  height: 60px;
  width: 300px;
  margin-left: 30px;
  margin-top: 50px;
  color: white;
  font-size: 23px;
}
.message-teacher-ashlivia-1 > img {
  margin: 15px;
}
.message-teacher-ashlivia-1 > p {
  margin: 15px;
}
.scroll-ashlivia-1 {
  display: flex;
  justify-content: center;
  border: 1px solid #091868;
  background-color: #091868;
  height: 100px;
  width: 25px;
  margin-top: 200px;
  margin-left: 220px;
}
.scroll-ashlivia-1 > img {
  margin-top: 34px;
}
/* ashley-livia-2 code */
.contacts-ashlivia-2{
  margin-top: 40px;
}
.people-ashlivia-2 {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 20px;
  margin-left: 60px;
}
.people-ashlivia-2 > a {
  margin-left: 15px;
  font-size: 16px;
}
.chatbox-ashlivia-2 {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 30px;
}
.topusername-ashlivia-2{
  border-top: 5px solid #091868;
  border-left: 5px solid #091868;
  border-right: 5px solid #091868;
  height: 75px;
  width: 670px;
}
.chatroom-ashlivia-2{
  border: 5px solid #091868;
  height: 390px;
  width: 670px;
}
.scroll-ashlivia-2 {
  display: flex;
  justify-content: center;
  border: 1px solid #091868;
  background-color: #091868;
  height: 150px;
  width: 25px;
  margin-top: 200px;
  margin-left: 71px;
}
.scroll-ashlivia-2 > img {
  margin-top: 59px;
}
.message-ashlivia-2 {
  display: flex;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #091868;
  background-color: #091868;
  color: white;
}
.right-chat-ashlivia-2 {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.message-ashlivia-2 > p{
  margin: 10px;
  display: inline-block;
}
.left-chat-ashlivia-2 {
  display: flex;
  margin: 20px;
}
.bottom-icons-ashlivia-2 {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}
.apple-ashlivia-2 {
  background-color: white;
  border: 1px solid white;
  border-radius: 30px;
  margin-left: 15px;
}
.livia-ashlivia-2 {
  margin-right: 15px;
}
.input-textbox-ashlivia-2 {
  background-color: #091868;
  color: #054cbf;
  height: 40px;
  width: 280px;
  border-radius: 20px;
}
.input-textbox-ashlivia-2 > p {
  margin: 10px;
}
.arrange-ashlivia-2 {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
